.btn {
  background-color: blue;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #2563eb; /* blue-600 */
}
